<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 bloc-synthese" style="overflow-y: auto; height: 77vh;">
			<div style="width: 100%; overflow-x:visible;" >
				<form-obs  on-form-submit="$ctrl.formSubmit($event.form)" communes="$ctrl.communesList" forets="$ctrl.foretsList" typologie="$ctrl.typologie" protocoles="$ctrl.protocoles"> </form-obs>	
			</div>
		</div>

		<div class="col-md-7 bloc-synthese">
			<map geojson='$ctrl.geojson' current-list-obs="$ctrl.currentListObs" current-leaflet-obs = "$ctrl.currentLeafletObs"> </map>
		</div>

		<div class="col-md-3 bloc-synthese" style="height: 77vh; overflow-y: auto; padding-right: 5px;" >
			<list-obs  current-list-obs="$ctrl.currentListObs" current-leaflet-obs = "$ctrl.currentLeafletObs" geojson="$ctrl.geojson" on-handle-csv="$ctrl.onCsvDowload()"> </list-obs>
		</div>	
	</div>

	<div class="row">
		<detail-obs id-synthese="$ctrl.currentIdSynthese" cd-nom="$ctrl.currentCd_nom" > </detail-obs>
	</div>
</div>
