<div class="panel panel-default">
   <div class="panel-heading">
      <b> Detail concernant l'observation </b>
   </div>
	<div class="panel-body">
		<div class="row" ng-show="$ctrl.idSynthese != undefined">
			<div class="col-md-4">
				<observation id-synthese="$ctrl.idSynthese"> </observation>
			</div>
			<div class="col-md-4">
				<taxonomie cd-nom="$ctrl.cdNom"> </taxonomie>
			</div>
			<div class="col-md-4">
				<reglementation cd-nom="$ctrl.cdNom"> </reglementation>
			</div>
		</div>
	</div>
</div>
