
<div class="panel panel-default" class='container-fluid typeahead-demo'>
		<div class="panel-heading">
				<h3 class="panel-title"> <b> Rechercher des observations </b> </h3>
		</div>
	<form>
		<div class="section">
				<div class="section-title"> Quoi ?</div>
					<div class="form-inline form-group">
						<div class="radio">
						  <input  class="radiotout" ng-model="$ctrl.regneRadio" class="radio" type="radio" name="optradio" value="Tout"  ng-checked="true" ng-click="$ctrl.changeProtocole('Tout')">
						  <label>Tout</label>
						</div>			
						<div class="radio">
				  			<input ng-model="$ctrl.regneRadio" class="radio" type="radio" name="optradio" value="Animalia" ng-click="$ctrl.changeProtocole('Animalia')">
				  			<label>Faune</label>
						</div>
						<div class="radio">
						  <input ng-model="$ctrl.regneRadio" class="radio" type="radio" name="optradio" value="Plantae" ng-click="$ctrl.changeProtocole('Plantae')">
						  <label>Flore</label>
						</div>
					
					</div>
					
				<div class="form-group">
				<label>Taxon(s)</label>
			 		<input id="input_lbnom" autocomplete="off" placeholder="Nom Latin " type="text" ng-model="$ctrl.form.taxon" typeahead-editable="false" typeahead-min-length="1" uib-typeahead="taxon as taxon.lb_nom for taxon in $ctrl.taxons | filter:{lb_nom:$viewValue} | limitTo:8" class="form-control" typeahead-min-length="0" typeahead-no-results="noResults" ng-change="$ctrl.fillTaxonEvent()" typeahead-on-select="$ctrl.onSelectlbNom($item, $model, $label)" >
				
				 	<input id="input_nomvern" autocomplete="off" placeholder="Nom vernaculaire " type="text" ng-model="$ctrl.form.taxon" typeahead-editable="false" typeahead-min-length="1" uib-typeahead="taxon as taxon.nom_vern for taxon in $ctrl.taxons | filter:{nom_vern:$viewValue} | limitTo:8" class="form-control" typeahead-min-length="0" typeahead-no-results="noResults" ng-change="$ctrl.fillTaxonEvent()" typeahead-on-select="$ctrl.onSelectNomVern($item, $model, $label)" >
				</div>

				<div class="alert alert-warning" ng-show="$ctrl.showNewTaxons" class="ng-hide"> 
					<b> Taxon(s) recherché(s): </b>
						<div  ng-repeat="taxon in $ctrl.newTaxons">
							<span> {{taxon.name}} </span> <span style="cursor: pointer;" class="glyphicon glyphicon-remove" ng-click="$ctrl.removeTaxonEvent(taxon.cd_nom)"> </span>
						</div>
				</div>
				<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="$ctrl.advancedSearch()" > Recherche avancée </button>
				<div ng-show ="$ctrl.form.regne != null " class="ng-hide">
					<p> <b> Filtres: </b> </p>
					<table>
						<tr><td> <b>Regne</b> : {{$ctrl.form.regne}} </td> </tr>
						<tr><td> <b>Phylum</b> : {{$ctrl.form.phylum}} </td></tr>
						<tr><td> <b>Classe </b> : {{$ctrl.form.classe}} </td></tr>
						<tr><td> <b>Ordre</b> : {{$ctrl.form.ordre}} </td></tr>
						<tr><td> <b> Famille </b> : {{$ctrl.form.famille}} </td></tr>
					</table>

				</div>	
				<div >
					<table>
						<tr ng-show ="$ctrl.form.group2_inpn != null " class="ng-hide"> <td> <b>Groupe</b> : {{$ctrl.form.group2_inpn.group2_inpn}} </td></tr>
						<tr ng-show ="$ctrl.form.habitat.id != null " class="ng-hide"> <td> <b> Habitat </b> : {{$ctrl.form.habitat.type}} </td></tr>
						<tr ng-show ="$ctrl.form.protection != null " class="ng-hide"> <td> <b> Protection </b> : {{$ctrl.form.protection}} </td></tr>
						<tr ng-show ="$ctrl.form.lr.id_statut != null " class="ng-hide"> <td> <b> Protection </b> : {{$ctrl.form.lr.type_statut}} </td></tr>
					</table>
				</div>
		</div>

				
				<!-- MODAL research -->
				<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				  <div class="modal-dialog modal-lg" role="document">
				    <div id="formContent" class="modal-content">
				    <h4> En constrution... </h4>
				      <label> Hierarchie taxonomique :  </label>
				      <div class="form-group">
					      	<select id="inputRegne" class="form-control" ng-model="$ctrl.form.regne" ng-options="taxon as taxon for taxon in $ctrl.regne" ng-change="$ctrl.loadTaxonomyHierachy('phylum', 'regne', 'null', 'null', $ctrl.form.regne)" >
						    	<option value=""> - Sélectionner un règne - </option> 
						    </select>
					  </div>
					  <div class="form-group">
						    <!-- PHYLUM -->
						    <select class="form-control" ng-model="$ctrl.form.phylum" ng-options="taxon as taxon for taxon in phylum" ng-change="$ctrl.loadTaxonomyHierachy('classe', 'phylum', 'regne', $ctrl.form.regne, $ctrl.form.phylum)"> 
						    	<option value=""> - Sélectionner un embranchement - </option>
						    </select>
					  </div>
					   <div class="form-group">
					    <!-- CLASSE -->
						    <select class="form-control" ng-model="$ctrl.form.classe" ng-options="taxon as taxon for taxon in classe" ng-change="$ctrl.loadTaxonomyHierachy('ordre', 'classe', 'phylum', $ctrl.form.phylum, $ctrl.form.classe)">
						    	<option value=""> - Sélectionner une classe - </option>
						     </select>
						</div>	
						<div class="form-group">					     
						    <!-- ORDRE -->
						    <select class="form-control" ng-model="$ctrl.form.ordre" ng-options="taxon as taxon for taxon in ordre" ng-change="$ctrl.loadTaxonomyHierachy('famille', 'ordre', 'classe', $ctrl.form.classe, $ctrl.form.ordre)">
						    	<option value=""> - Sélectionner un ordre - </option>
						     </select>
						</div>
						<div class="form-group">
						    <!-- FAMILLE -->
						    <select class="form-control" ng-model="$ctrl.form.famille" ng-options="taxon as taxon for taxon in famille">
						    <option value=""> - Sélectionner une famille - </option>	
						     </select>
						</div>

					<h3> Autres filtres: </h3>
						<label> Groupe d'espèces:  </label>
						<select  class="form-control" ng-model="$ctrl.form.group2_inpn" ng-options="group.group2_inpn for group in $ctrl.typologie.group2_inpn">
							<option value="" > - Sélectionner un groupe - </option> 
						</select>
						<label> Habitat:  </label>
						<select  class="form-control" ng-model="$ctrl.form.habitat" ng-options="habitat.type for habitat in $ctrl.typologie.habitat">
							  <option value=""> - Sélectionner un habitat - </option> 
						
						</select>
						<label> Protection:  </label>
						<select id="inputGroupINPN" class="form-control" ng-model="$ctrl.form.protection">
							  <option value=""> Aucune </option> 
							  <option value="Espèce protégée">Espèce protégée</option> 
						</select>
						<label> Menaces - Listes rouges régionales: </label>
						<select class="form-control" ng-model="$ctrl.form.lr" ng-options="lr.type_statut for lr in $ctrl.typologie.listeRouge">
							  <option value=""> - Sélectionner un type de menace - </option> 

						</select>




				      <div class="modal-footer">
				        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="$ctrl.onTaxonomieChange()">Valider</button>
				      </div>
				    </div>
				  </div>
				</div>
		<!-- </div> -->


		 <!-- <button type="submit" type="button" class="btn btn-success" "> <span class="glyphicon glyphicon-plus"> </span> </button> -->
		
		<!-- <div class="panel panel-default"> -->
		<div class="section">
				<div class="section-title"> Où ?</div>

			   <div class="form-group">
	
					    <select class="form-control" ng-model="$ctrl.form.where" ng-options="commune.nom for commune in $ctrl.communes">
					    	<option value=""> - Selectionner une commune - </option>
					    </select>
			 	</div>

			 	<div class="form-group">
			 			<select class="form-control" ng-model="$ctrl.form.foret" ng-options="foret.lib_frt for foret in $ctrl.forets">
					    	<option value=""> - Selectionner une forêt - </option>
					    </select>
			 	</div>
		</div>


		
		<div class="section">
				<div class="section-title"> Quand ?</div>
				  <div class="form-group">
				      <div>
				        <p class="input-group">
				          <input placeholder="Après le: (Date)" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="$ctrl.form.when.first"" is-open="$ctrl.popup.first.opened" datepicker-options="dateOptions"  close-text="Close" alt-input-formats="altInputFormats" />
				          <span class="input-group-btn">
				            <button type="button" class="btn btn-default" ng-click="$ctrl.open('first')"><i class="glyphicon glyphicon-calendar"></i></button>
				          </span>
				        </p>
				      </div>
				  </div>
			      <div>
			        <p class="input-group">
			          <input placeholder="Avant le: (Date)" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="$ctrl.form.when.last"" is-open="$ctrl.popup.last.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" />
			          <span class="input-group-btn">
			            <button type="button" class="btn btn-default" ng-click="$ctrl.open('last')"><i class="glyphicon glyphicon-calendar"></i></button>
			          </span>
			        </p>
			      </div>
		</div>
		<div class="section">
			<div class="section-title"> Qui ?</div>
			<input  autocomplete="off" placeholder="Observateur " type="text" ng-model="$ctrl.form.observateur" typeahead-editable="false" typeahead-min-length="1" uib-typeahead="r as r.observateur for r in $ctrl.typologie.observateurs  | limitTo:8" class="form-control"  typeahead-no-results="noResults" >
			<select class="form-control" ng-model="$ctrl.form.structure" ng-options="r.nom_structure for r in $ctrl.typologie.structures">
				<option value=""> - Structure - </option> 
			</select>
		

	      <div class="form-inline form-group" style="margin-top: 5px;">
		  	 <button type="button" class="btn btn-danger formbutton " uib-tooltip="Raffraichir la sélection" ng-click="$ctrl.onRefreshEvent()"> <span class="glyphicon glyphicon-remove"> </span>  </button>
		   	<button type="submit" type="button" class="btn btn btn-success formbutton" ng-click="$ctrl.submitForm($ctrl.form)"> Rechercher </button>
		  </div>
		 </div>

		</div> <!-- End  -->
	</form>

</div>
{{$ctrl.group2inpn}}


