
<table class="table table-hover">
	 <thead>
	  <tr>
	     <th>Nom commun</th>
	     <th>Nom sc.</th>
	     <th>Date</th>
	     <th> Obs </th>

	  </tr>
	 </thead>
	 <tbody>
		<tr ng-repeat="obs in $ctrl.geojson.features">
			<td> {{obs.properties.nom_vern}}  </td>
			<td>  {{obs.properties.lb_nom}} </td>
			<td> {{obs.properties.date}}  </td>
			<td> {{obs.properties.id_synthese}}  </td>
			<td ng-click="$ctrl.update(obs.properties)"> <span class="glyphicon glyphicon-search " style="cursor:pointer;"> </span> </td>
			<td ng-click="$ctrl.open(obs.properties)">  <span class="glyphicon glyphicon-pencil " style="cursor:pointer;"> </span> </td>
		</tr>
	</tbody>
</table>

{{$ctrl.state}}
