<div class="panel panel-default " style="height: 77vh; overflow-y: auto;">
	<div class="panel-heading ">
		<h3 class="panel-title align"> <b> {{$ctrl.geojson.maille.features.length + $ctrl.geojson.point.features.length}} observations </b> </h3>
		<div class="btn-group btn-align">
		  <button type="button" class="btn btn-xs " ng-click="$ctrl.changeList('point')" ng-class="{ 'btn-primary' : $ctrl.isSelected('point')}" >Point</button>
		  <button type="button" class="btn btn-xs " ng-click="$ctrl.changeList('maille')" ng-class="{'btn-primary' : $ctrl.isSelected('maille')}">Maille</button>
		</div>
		&nbsp;&nbsp; <button ng-click="$ctrl.exportShape($ctrl.geojson)" type="button" class="btn btn-xs btn-primary">shp <span class="glyphicon glyphicon-download-alt"> </span> </button>
	</div>

		<table class="table last-obs">
			 <thead>
			  <tr>
			     <th>Nom commun</th>
			     <th>Nom sc.</th>
			     <th>Date</th>
			  </tr>
			 </thead>
			 <tbody >
				<tr ng-repeat="obs in $ctrl.currentList.features" id="{{obs.properties.id}}"  ng-class="{'selected-raw' : $ctrl.isCurrentObs($ctrl.currentListObs, obs.properties.id)}" >
					<td > {{obs.properties.nom_vern}}  </td>
					<td>  {{obs.properties.lb_nom}} </td>
					<td> {{obs.properties.date}}  </td>
					<td ng-click="$ctrl.zoom(obs.properties)"> <span class="glyphicon glyphicon-search " style="cursor:pointer;"> </span> </td>
				</tr>
			</tbody>
		</table>
</div>

