<div class="panel panel-default"">
	<leaflet center="$ctrl.center" layers="$ctrl.layers" width="100%" height="77vh" geojson="$ctrl.geojsonToDirective" geojson-nested="true" >
		<layercontrol order="normal"  auto-hide-opacity="true" show-groups="true"
            title="Layer Manager" base-title="Base Layers" overlays-title="Overlays Layers">
            	
        </layercontrol>
	</leaflet>
</div>


<div class="btn-group" data-toggle="buttons" style="position: absolute; bottom: 5px; z-index: 3000; left: 15px; margin-left: 0px !important">
  <label class="btn btn-success btn-xs layer active"  ng-click="$ctrl.togglePoint()" >
    <input type="checkbox" checked autocomplete="off"> Point
  </label>
  <label class="btn btn-success btn-xs layer active" ng-click="$ctrl.toggleMaille()" >
    <input  type="checkbox" checked autocomplete="off"> Maille
  </label>
</div>
