##config LINUX
monuser=monuser
mondomaine=mondomaine
monurl=monurl

### CONFIGURATION APACHE ###
# Répertoire de publication web
apache_document_root="\/var\/www\/html"

### CONFIGURATION PostgreSQL ###
# Localisation du server PostgreSQL
pg_host=localhost
# Port sur lequel PostgreSQL ecoute
pg_port=5432
# Nom de l'utilisateur propriétaire des bases UsersHub, GeoNature, TaxHub
user_pg=monuser
# Nom de l'utilisateur lecteur de la base GeoNature-atlas
user_atlas=monuser
# Pass de l'utilisateur propriétaire des bases UsersHub, GeoNature, TaxHub
user_pg_pass=monpass
# Pass de l'utilisateur lecteur de la base GeoNature-atlas
user_atlas_pass=monpass


### CONFIGURATION USERSHUB ###
usershub_release=1.2.2
# Effacer la base de données UsersHub existante lors de l'installation
drop_usershubdb=false
# Nom de la base de données de UsersHub
usershubdb_name=usershubdb

### CONFIGURATION BDN ###
bdn_release=1.0.0
# Effacer la base de données BDN existante lors de l'installation
drop_bdn_db=false
# Nom de la base de données bdn
bdn_db_name=bdn
# SRID de la projection locale 
projection=32620
## Coordonnées de centrage des cartes
xcoord=-61.5361400
ycoord=16.2412500
#numero de l'application dans usershub
no_application=3
## fichier de sauvegarde de la BDD
backup_directory=/home/ubuntu/sauvegarde_bdn

### CONFIGURATION TAXHUB ###
taxhub_release=1.2.1
# fichier des listes rouges regionales
liste_rouge_path=/home/ubuntu/BDN/data/Liste_rouge_regionale.csv
# Pour des questions de performances de BDN, il n'y a pas de base de données spécifique pour taxHub 
# On utilise la base de données de BDN afin que les requêtes de BDN en lien avec le schéma taxonomie ne soient pas trop pénalisées par un accès distant.
