.currentRow{
	background-color: #b6b7ba !important;
}

.validate_ok{
	background-color: #00b551 !important;
}

.delete_ok{
	background-color: #db0808 !important;
}

a.paginate_button.current {
	background-color: white important;
	margin: 5px;
	cursor: pointer;
}

.enable {
	cursor: : pointer ;
}

.disable{
	cursor:not-allowed;
}
