<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<title></title>

<!-- Angular -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>


<!-- Jquery -->
	
		
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>

	<!-- Leaflet -->
  <script src="%%url_for('static', filename='lib/leaflet/leaflet.js') %%"></script>
  <link rel="stylesheet" href="%%url_for('static', filename='lib/leaflet/leaflet.css')%%"  />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- GLOBAL CSS -->
  <link rel="stylesheet" href= " %%url_for('static', filename='css/main.css')%% " >
  <!-- SYNTHESE CSS -->
  <link rel="stylesheet" href= " %%url_for('synthese.static', filename='CSS/synthese.css')%% " >
<!-- Angular animate -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>

<!--  ui bootstrap -->
<script src="%%url_for('static', filename='lib/uibootstrap.min.js')%%"></script>


</head>
<body>

 {% include 'navbar.html' %}

<div ng-app="app" class="container-fluid">
        <div ng-controller="headerCtrl">

    <app ></app>

</div>


<script type="text/javascript"> var URL_APPLICATION = %%URL_APPLICATION|tojson%% </script>

<script src="%%url_for('synthese.static', filename='main.js')%%"></script>

</body>
</html>