<!DOCTYPE html>
<html>
<head>
	<!-- Jquery + bootstrap-->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
<!--  ui bootstrap -->
<script src="{{url_for('static', filename='lib/uibootstrap.min.js')}}"></script>

  <!-- MY CSS -->
  <link rel="stylesheet" href= " {{url_for('static', filename='css/main.css')}} " >
	<title></title>
</head>
<body>

 {% include 'navbar.html' %}


 <div ng-app="app" >

    <app ></app>
</div>


</body>
<script type="text/javascript">
	var CONFIGURATION = {{configuration|tojson}}
</script>
<script src="{{url_for('download.static', filename='download.js')}}"></script>
</html>