<!DOCTYPE html>
<html>
<head>
	<!-- Jquery + bootstrap-->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Angular -->
<script src="{{url_for('static', filename='node_modules/angular/angular.min.js')}}"></script> 
<!--  ui bootstrap -->
<script language="javascript" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
<!-- TOASTER -->
<script type="text/javascript" src= " {{url_for('static', filename='node_modules/angularjs-toaster/toaster.min.js')}}"></script>
<link href="{{url_for('static', filename='node_modules/angularjs-toaster/toaster.min.css')}}"" rel="stylesheet" />

  <!-- MY CSS -->
  <link rel="stylesheet" href= " {{url_for('static', filename='css/main.css')}} " >
	<title></title>
</head>
<body>

 {% include 'navbar.html' %}


 <div ng-app="app" >
 	<toaster-container toaster-options="{'close-button':true, 'position-class': 'toast-top-center', 'time-out':10000}"></toaster-container>
    <app ></app>
</div>


</body>
<script type="text/javascript">
	var CONFIGURATION = {{configuration|tojson}}
</script>
<script src="{{url_for('download.static', filename='download.js')}}"></script>
</html>