<div class="col-sm-9">
		<leaflet lf-center='$ctrl.center' layers="$ctrl.layers"  height="85vh" markers="$ctrl.markers" geojson=$ctrl.geojsonMaille>
			<layercontrol order="normal"  auto-hide-opacity="true" show-groups="true"
            title="Layer Manager" base-title="Base Layers" overlays-title="Overlays Layers">
            	
            </layercontrol>

		</leaflet>

		<button class="btn btn-success" ng-click="$ctrl.switchMaille()" ng-class="{'disabled': $ctrl.geojsonMaille.data != undefined }"> Mode maille (1km)</button>
		 <button ng-click="$ctrl.switchPoint()" class="btn btn-success" ng-class="{'disabled': $ctrl.markers.main != undefined }"> Mode point</button>	
</div>