<!DOCTYPE html>
<html style = "background: url({{url_for('static', filename='img/foret.jpg')}}) no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover; background-size: cover;">
 <meta charset="UTF-8"> 
<head>
	<title> Import Partenaire</title>

	<!-- Jquery + bootstrap-->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- MY CSS -->
  <link rel="stylesheet" href= " {{url_for('static', filename='css/main.css')}} " >

</head>
<body >

 {% include 'navbar.html' %}


<div class="page-container">
	<div class="alert alert-warning" style="position: absolute;">
		<span class="glyphicon glyphicon-info-sign"> </span> Le fichier importé doit être un fichier CSV issu de l'application ObservNat
	</div>


	<div class="col-md-2 col-md-offset-4 panel panel-default" style="text-align: center; top: 30%; position: absolute; left:5%;">
		<form action="" enctype=multipart/form-data method='POST'>
			<h3> Selectionner votre fichier CSV </h3> <br>
			<div class="form-group" >
				<input type="file" name="file" /> <br/> 
			</div>
			<div class="form-group">
				<!-- <input type="submit" value="Envoyer"> -->
				<button class="btn btn-success submit" type="submit" value='Envoyer'>Envoyer</button>
			</div>
		</form>
		{% with msgs = get_flashed_messages() %}
	        {% if msgs %}
	          {%- for msg in msgs %}
	            <div class="alert alert-info">
	              {{ msg }}
	            </div>
	          {% endfor -%}
	        {% endif %}
	      {% endwith %}
	      	
	      {% block body %} {% endblock %}

	</div>

</body>

</html>