<!DOCTYPE html>
<html>
<head>
	<title>Erreur </title>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container" >
  <div class="row">
	  <div class="hero-unit center" style="{text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}">
			<h2> Une erreur s'est produite  </h2>


			
			<a href="{{url_for('main.index')}}" class="btn btn-info btn-large"><i class="icon-share icon-white"></i> Retour à la page d'accueil...</a>

			<div class="row" style="margin : 100px;"> </div>

		</div>
	</div>
</div>

</body>
</html>