<!DOCTYPE html>
<html>
<head>
	<title>Erreur </title>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container" >
  <div class="row">
	  <div class="hero-unit center" style="{text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}">
			<h2> Une erreur s'est produite  </h2>


			
			{% if 'time' in err %}
			<div class="alert alert-danger">
				 Le format de la date renseigné n'est pas correct. Il doit être au format AAAA/MM/JJ 
			</div>
			{% endif %}

			{% if 'cd_nom' in err %}
			<div class="alert alert-danger">
				 Le cd_nom que vous avez renseigné ne correspond à aucun taxon dans la table TAXREF
			</div>
			{% endif %}

			
			<a href="%%url_for('importCSV.indexImport')%%" class="btn btn-info btn-large"><i class="icon-share icon-white"></i> Retour à la page d'importation...</a>

			<div class="row" style="margin : 100px;"> </div>
			<div class="alert alert-warning">
				<strong> Info: </strong> %%err%%
			</div>
		</div>
	</div>
</div>

</body>
</html>