<!DOCTYPE html>
<html>
<head>
	<title></title>




<!-- Angular -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>

<!-- Leaflet directive CAUTION on utilise pas le meme leaflet ici: J AI MODIFIIE LES SOURCES SUITE AU PB DE MARKER -->
<script src="{{url_for('static', filename='lib/leaflet/leaflet-src.js')}}"></script> 
<link rel="stylesheet" href="{{url_for('static', filename='lib/leaflet/leaflet.css')}}" />
<script src="{{url_for('static', filename='lib/leaflet/angular-leaflet-directive.min.js')}}"></script>



  <!--  ui bootstrap -->
<script src="{{url_for('static', filename='lib/uibootstrap.min.js')}}"></script>


<!-- Jquery -->
	
		
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />

</head>
<body>
 {% include 'navbar.html' %}

  <div ng-app="app" >
    <app ></app>
</div>




	

  </div>
		</div>


</div> 





</body>

<script type="text/javascript"> var configuration = {{configuration|tojson}} </script>
<script src="{{url_for('addObs.static', filename='addObs.js')}}"></script>
</html>