<!DOCTYPE html>
<html>
<head>
	<title></title>




<!-- Angular -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script> -->
<script src="{{url_for('static', filename='node_modules/angular/angular.min.js')}}"></script> 
<!-- Leaflet directive CAUTION on utilise pas le meme leaflet ici: J AI MODIFIIE LES SOURCES SUITE AU PB DE MARKER -->
<script src="{{url_for('static', filename='lib/leaflet/leaflet-src.js')}}"></script> 
<link rel="stylesheet" href="{{url_for('static', filename='lib/leaflet/leaflet.css')}}" />
<script src="{{url_for('static', filename='lib/leaflet/angular-leaflet-directive.min.js')}}"></script>

<!-- TOASTER -->
<script type="text/javascript" src= " {{url_for('static', filename='node_modules/angularjs-toaster/toaster.min.js')}}"></script>
<link href="{{url_for('static', filename='node_modules/angularjs-toaster/toaster.min.css')}}"" rel="stylesheet" />

  <!--  ui bootstrap -->
<script language="javascript" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>



<!-- Jquery -->
	
		
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />

<style type="text/css">

	select.form-control{
		margin-bottom: 15px;
	}

</style>

</head>
<body>
 {% include 'navbar.html' %}

  <div ng-app="app" >
  <toaster-container toaster-options="{'close-button':true, 'position-class': 'toast-top-center', 'time-out':500000000}" style="margin-top: 20% !important;
		margin-left: 10% !important;"></toaster-container>
    <app ></app>
</div>


</body>

<script type="text/javascript"> var configuration = {{configuration|tojson}} </script>
<script src="{{url_for('addObs.static', filename='addObs.js')}}"></script>
</html>