<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<title></title>

<!-- Angular -->


    <script type="text/javascript" src= " {{url_for('static', filename='node_modules/angular/angular.min.js')}}"></script>
    <script src="//unpkg.com/angular-ui-router@1.0.0-rc.1/release/angular-ui-router.js"></script>
    <script type="text/javascript" src= " {{url_for('static', filename='node_modules/angular-sanitize/angular-sanitize.min.js')}}"></script>
    <!-- TOASTER -->
    <script type="text/javascript" src= " {{url_for('static', filename='node_modules/angularjs-toaster/toaster.min.js')}}"></script>
    <link href="{{url_for('static', filename='node_modules/angularjs-toaster/toaster.min.css')}}"" rel="stylesheet" />
    <!-- ANGULAR ANIMATE -->
    <script type="text/javascript" src= " {{url_for('static', filename='node_modules/angular-animate/angular-animate.min.js')}}"></script>
    <!-- ANGULAR COOKIES -->
    <script type="text/javascript" src= " {{url_for('static', filename='node_modules/angular-cookies/angular-cookies.js')}}"></script>

     



<!-- Jquery -->
  
    
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


 <!-- GLOBAL CSS -->
  <link rel="stylesheet" href= " {{url_for('static', filename='css/main.css')}} " >
  <!-- SYNTHESE CSS -->
<link rel="stylesheet" href= " {{url_for('synthese.static', filename='CSS/synthese.css')}} " >

<style>
  .section.white {
    background-color: #e7edee;
  }
  input.form-control {
    background-color: white!important;
  }

  .ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

  .ng-enter-active {
    opacity: 1;
}

.ng-leave {
  opacity: 1;
  transition:0.5s linear all;
}

.ng-leave-active{
  opacity: 0;
}




</style>

</head>
<base href="/liste">
<body>


 {% include 'navbar.html' %}
<div class="container-fluid">
  <div ng-app="app" >
     <toaster-container toaster-options="{'close-button':true, 'position-class': 'toast-top-center', 'time-out':5000000}"></toaster-container>
    <ui-view></ui-view>
  </div>
</div>


<script type="text/javascript"> var configuration = {{configuration|tojson}} </script>

<script src="{{url_for('meta.static', filename='meta.js')}}"></script>

</body>
</html>
