#formContent{
	padding-left: 5%;
	padding-right:5%;
}

  .typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
/*  .last-obs {
    display: block;
    height: 700px ;
    overflow-y: scroll;
}*/

 .panel .panel-info{
  margin: 5px;
 }




   .angular-leaflet-map {
    width: 640px;
    height: 480px;
  }

      .panel-body{
      padding-bottom: 3px !important;
    }
    .form-group{
      margin-bottom: 5px !important;
    }

.selected-raw{
  background-color: #b2b8c1;
}



.panel {
border-radius: 0px;
box-shadow: 0 1px 2px #c8d1d3;
}


.section {
  padding: 8px 10px 0px 10px;
}

.section-title{
  color: #8d9293;
  border-bottom: 1px solid #dfe6e8;
  justify-content: flex-start;
  font-size: 1.2em;
  font-weight: 200;
  padding-bottom: 5px;
  margin-bottom: 15px;
}


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
 
/* on prépare le label */
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative; /* permet de positionner les pseudo-éléments */
  padding-left: 25px; /* fait un peu d'espace pour notre case à venir */
  cursor: pointer;    /* affiche un curseur adapté */
}


.align{
  position: relative;
  display: inline-block;
}

.btn-align{
  margin-left: 50px;
}

input.form-control {
  margin-bottom: 5px!important;
  padding: 6px 12px!important;
}

select{
  padding: 6px 12px!important;
}

p {
  margin: 0 0 0px !important;
}

body {
  font-size: 12px; }

.bloc-synthese{
  padding-right: 0px;
  padding-left: 5px;

}

.panel{
  margin-bottom: 0px;
}

.panel .panel-heading{
  padding:  10px 15px;
}

input { 
  font-size: 12px;
}
select { 
  font-size: 12px!important;
}
textarea { 
  font-size: 12px;
}

select{
    -webkit-appearance: none;
}

.alert {
  padding: 5px;
}

