<div class="form-group" >
	<select class="form-control" type="text" placeholder="Abondance" ng-model="child.protocoleForm.abondance" ng-options="choice as choice for choice in fields.abondance" >
		<option value=""> - Abondance - </option>
	</select>
	<input class="form-control" type="number" placeholder="Nombre de pied exact"  ng-model="child.protocoleForm.nb_pied" >
	
	<select class="form-control" type="text" ng-model="child.protocoleForm.nb_pied_approx" ng-options="choice as choice for choice in fields.nb_pied_approx">
		<option value=""> - Nombre de pied approximattif -</option>
	</select>
</div>
<div class="form-group">
	<select class="form-control" type="text" placeholder="Stade de développement" ng-model="child.protocoleForm.stade_dev" ng-options="choice as choice for choice in fields.stade_dev" style="margin-bottom: 10px;">
		<option value=""> - Stade de développement - </option>
	</select>
</div>