<div class="form-group" >
	<select class="form-control" type="text" placeholder="Type d'observation" ng-model="child.protocoleForm.type_obs" ng-options="choice as choice for choice in fields.type_obs" >
		<option value=""> - Type d'observation - </option>
	</select>
	<select class="form-control" type="text" placeholder="Traces" ng-model="child.protocoleForm.comportement" ng-options="choice as choice for choice in fields.comportement">
		<option value=""> - Comportement - </option> 
	</select>
	<select class="form-control" type="text" placeholder="Traces" ng-model="child.protocoleForm.trace" ng-options="choice as choice for choice in fields.trace">
		<option value=""> - Trace - </option> 
	</select>
	<select class="form-control" type="text" placeholder="Effectif" ng-model="child.protocoleForm.nb_individu_approx" ng-options="choice as choice for choice in fields.effectif" style="margin-bottom: 10px;" >
		<option value=""> - Effectif - </option>
	</select>
</div>
<div class="form-group">
    <div class="col-sm-6 no-padding" ng-class="{'has-error' : addObsForm.nb_male.$invalid && !addObsForm.nb_male.$pristine  || (validationAttempt && addObsForm.nb_male.$invalid)}">
        <input class="form-control" type="number" placeholder="Nombre de mâle adulte" ng-model="child.protocoleForm.nb_male"  name ="nb_male">
    </div>
  	<div class="col-sm-6 no-padding" ng-class="{'has-error' : addObsForm.nb_femelle.$invalid && !addObsForm.nb_femelle.$pristine  || (validationAttempt && addObsForm.nb_femelle.$invalid)}">
  		<input class="form-control" type="number" placeholder="Nombre de femelles adulte" ng-model="child.protocoleForm.nb_femelle"  name="nb_femelle">
  	</div>
</div>
<div class="form-group">
  	<div class="col-sm-6 no-padding" ng-class="{'has-error' : addObsForm.nb_jeune.$invalid && !addObsForm.nb_jeune.$pristine  || (validationAttempt && addObsForm.nb_jeune.$invalid)}">
  		<input class="form-control" type="number" placeholder="Nombre de jeune" ng-model="child.protocoleForm.nb_jeune"  name = "nb_jeune">
  	</div>
	<div class="col-sm-6 no-padding" ng-class="{'has-error' : addObsForm.nb_non_identifie.$invalid && !addObsForm.nb_non_identifie.$pristine  || (validationAttempt && addObsForm.nb_non_identifie.$invalid)}">
		<input class="form-control" type="number" placeholder="Nombre non identifié" ng-model="child.protocoleForm.nb_non_identife"  name="nb_non_identifie">
	</div>

</div>


