<div class='form-group' ng-class="{'has-error' : addObsForm.placeau.$invalid }" ><input class='form-control' type='text' placeholder='Placeau' ng-model='$ctrl.child.protocoleForm.placeau'  name='placeau' required> 

 </div><div class='form-group' ng-class="{'has-error' : addObsForm.no_arbre.$invalid }" ><input class='form-control' type='number' placeholder='N° arbre' ng-model='$ctrl.child.protocoleForm.no_arbre'  name='no_arbre' required> 

 </div><div class='form-group' ng-class="{'has-error' : addObsForm.x_placeau.$invalid }" ><input class='form-control' type='number' placeholder='X placeau (en m)' ng-model='$ctrl.child.protocoleForm.x_placeau'  name='x_placeau' required> 

 </div><div class='form-group' ng-class="{'has-error' : addObsForm.y_placeau.$invalid }" ><input class='form-control' type='number' placeholder='Y placeau (en m)' ng-model='$ctrl.child.protocoleForm.y_placeau'  name='y_placeau' required> 

 </div><div class='form-group' ng-class="{'has-error' : addObsForm.y_placette.$invalid }" ><input class='form-control' type='number' placeholder='Y placette' ng-model='$ctrl.child.protocoleForm.y_placette'  name='y_placette' required> 

 </div>