<div class='form-group'> 
<input class='form-control' type='text' placeholder='Placeau' ng-model='$ctrl.child.protocoleForm.placeau'  name='placeau' > 

 </div><div class='form-group'> 
<input class='form-control' type='text' placeholder='N°tige' ng-model='$ctrl.child.protocoleForm.no_tige'  name='no_tige' > 

 </div><div class='form-group'> 
<input class='form-control' type='number' placeholder='Circonférence (cm)' ng-model='$ctrl.child.protocoleForm.circ'  name='circ' > 

 </div><div class='form-group'> 
<input class='form-control' type='number' placeholder='Surface (m²)' ng-model='$ctrl.child.protocoleForm.surface'  name='surface' > 

 </div><div class='form-group'> 
<input class='form-control' type='number' placeholder='C_10-15' ng-model='$ctrl.child.protocoleForm.C_10_15'  name='C_10_15' > 

 </div><div class='form-group'> 
<input class='form-control' type='number' placeholder='C_15-20' ng-model='$ctrl.child.protocoleForm.C_15_20'  name='C_15_20' > 

 </div><div class='form-group'> 
<input class='form-control' type='number' placeholder='C_20-25' ng-model='$ctrl.child.protocoleForm.C_20_25'  name='C_20_25' > 

 </div><div class='form-group'> 
<input class='form-control' type='number' placeholder='C_25-30' ng-model='$ctrl.child.protocoleForm.C_25_30'  name='C_25_30' > 

 </div><div class='form-group'> 
<input class='form-control' type='number' placeholder='C_30-35' ng-model='$ctrl.child.protocoleForm.C_30_35'  name='C_30_35' > 

 </div><div class='form-group'> 
<input class='form-control' type='number' placeholder='C_35-40' ng-model='$ctrl.child.protocoleForm.C_35_40'  name='C_35_40' > 

 </div><div class='form-group'> 
<input class='form-control' type='number' placeholder='C_40-45' ng-model='$ctrl.child.protocoleForm.C_40_45'  name='C_40_45' > 

 </div><div class='form-group'> 
<input class='form-control' type='text' placeholder='C_45-50' ng-model='$ctrl.child.protocoleForm.C_45_50'  name='C_45_50' > 

 </div><div class='form-group'> 
<input class='form-control' type='number' placeholder='C_50+' ng-model='$ctrl.child.protocoleForm.C_50_plus'  name='C_50_plus' > 

 </div><div class='form-group'> 
<input class='form-control' type='text' placeholder='Souche' ng-model='$ctrl.child.protocoleForm.Souche'  name='Souche' > 

 </div><div class='form-group'> 
<input class='form-control' type='number' placeholder='Redondance souche' ng-model='$ctrl.child.protocoleForm.redondance_souche'  name='redondance_souche' > 

 </div><div class='form-group'> 
<input class='form-control' type='text' placeholder='Observations' ng-model='$ctrl.child.protocoleForm.Observations'  name='Observations' > 

 </div><div class='form-group'> 
<input class='form-control' type='text' placeholder='problème' ng-model='$ctrl.child.protocoleForm.probleme'  name='probleme' > 

 </div>