<div class='form-group'> 
<input class='form-control' type='text' placeholder='comment1' ng-model='$ctrl.child.protocoleForm.comment1'  name='comment1' > 

 </div><div class='form-group'> 
<input class='form-control' type='number' placeholder='mesure1' ng-model='$ctrl.child.protocoleForm.mesure1'  name='mesure1' > 

 </div><div class='form-group'> 
<div> <select class='form-control' type='text' placeholder='mesure2' ng-model='$ctrl.child.protocoleForm.mesure2' name='mesure2' ng-options='choice as choice for choice in $ctrl.fields.mesure2' > <option value=> - mesure2 - </option> </select>  </div> 

 </div>