<input class='form-control' type='number' placeholder='nombre_adulte' ng-model='child.protocoleForm.nombre_adulte'  name='nombre_adulte'> 
<input class='form-control' type='number' placeholder='nombre_femelle' ng-model='child.protocoleForm.nombre_femelle'  name='nombre_femelle'> 
<div'> <select class='form-control' type='text' placeholder='type_trace' ng-model='child.protocoleForm.type_trace' ng-options='choice as choice for choice in fields.type_trace' > <option value=> - type_trace - </option> </select>  </div> 
