# coding: utf-8

database = {
'DATABASE_NAME' : "NAME",

'USER' : "MYUSER",

'PASSWORD' : "MYPASS",

'HOST' : "localhost",

'PORT' : "5432",
}

config = {
'URL_APPLICATION': 'MYURL',
#ID de l'application dans userhub
'ID_APPLICATION': 3,


'ID_OBSERVATION' : 'id_synthese',
'GEOM_NAME' : 'geom_point',
# TABLE NAME: SCHEMA.TABLE
'TABLE_NAME' : 'synthese.syntheseff',

##MAP CONFIG

'MAP' : {
	'COORD_CENTER': {'X': None, 'Y': None },
	'ZOOM_LEVEL': 11,
	'PROJECTION': MY_SRID
	}
}