# coding: utf-8

import os

#cle de chiffrement des cookis, a changer par une chaine aleatoire
secret_key = 'cle secrete a changer'

#parametre de connexion a la base de donnnes: meme parametres que le settings.ini
database = {

'DATABASE_NAME' : "database_name",

'USER' : "user_name",

'PASSWORD' : "my_pass",

'HOST' : "localhost",

'PORT' : "5432",
}

config = {
    #NE PAS TOUCHER APP_DIR
    'APP_DIR': os.path.abspath(os.path.dirname(__file__)),
	#Bien finir l'URL par un /
    'URL_APPLICATION': 'MY URL',
    #ID de l'application dans usershub
    'ID_APPLICATION': 3,
    ##MAP CONFIG
    'MAP' : {
        #coordonnees du centrage de la carte
        'COORD_CENTER': {'X': -61.5361400, 'Y': 16.2412500 },
        #niveau de zoom de la carte
        'ZOOM_LEVEL': 11,
        #Numero EPSG de la projection souhaitee pour les exports
        'PROJECTION': 32620,
        # 3 fonds de carte proposes par default pour leaflet
        'LAYERS': { 
            'baselayers': {
                'cycle': {
                    'name': "OpenStreetMap",
                    'type': "xyz",
                    'url': "http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png",
                    'layerOptions': {
                        'subdomains': ["a", "b", "c"],
                        'attribution': "&copy; <a href=\"http://www.opencyclemap.org/copyright\">OpenCycleMap</a> contributors - &copy; <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors",
                        'continuousWorld': True
                    }
                },
                'satelite':{
                    'name': 'Satelite',
                    'type':"xyz",
                    'url': 'https://api.mapbox.com/styles/v1/mapbox/satellite-streets-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoidGhlb2xlY2hlbWlhIiwiYSI6ImNpa29lODhvejAwYTl3MGxzZGY0aHc0NXIifQ.fEujW2fUlRuUk9PHfPdKIg',
                    'layerOptions': {
                        'subdomains': ["a", "b", "c"],
                        'attribution': "Mapbox",
                        'continuousWorld': True
                    }
                },
                'osm': {
                    'name': "OpenStreetMap 2",
                    'type': "xyz",
                    'url': "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                    'layerOptions': {
                        'subdomains': ["a", "b", "c"],
                        'attribution': "&copy; <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors",
                        'continuousWorld': True
                    }
                }
            }
        }
    }
}